@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  background-repeat: no-repeat;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden], template {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

b, strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input {
  border-radius: 0;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

[type=number] {
  width: auto;
}

[type=search] {
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: 0;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

img {
  border-style: none;
  vertical-align: bottom;
}

progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

audio, canvas, progress, video {
  display: inline-block;
}

@media screen {
  [hidden~=screen] {
    display: inherit;
  }

  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
}

body {
  overflow-y: scroll;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1, h2, h3 {
  font-family: "Poiret One", cursive, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 28px;
}

#pagetop > header {
  height: 80px;
}
#pagetop > header .header-inner {
  width: 100%;
  height: 80px;
  padding: 0 20px;
  background: #fff;
  border-bottom: 1px solid #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
}

#g-nav {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#g-nav ul {
  width: inherit;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
}
#g-nav ul li {
  width: 25%;
  text-align: center;
}
#g-nav ul li.current a {
  -webkit-text-decoration: underline 2px #5cb7c4;
          text-decoration: underline 2px #5cb7c4;
  text-underline-offset: 4px;
}
#g-nav ul li a {
  color: #333;
}

#ham-btn {
  display: none;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 44px;
  height: 44px;
  background: #5cb7c4;
}

.head-area {
  width: 100%;
  height: calc(100vh - 80px);
  background: #5cb7c4;
}

#about {
  width: 100%;
  height: 100vh;
}

#work {
  width: 100%;
  height: 100vh;
}

#skill {
  width: 100%;
  height: 100vh;
}

#contact {
  width: 100%;
  height: 50vh;
}

#to-top {
  display: none;
  width: 60px;
  height: 60px;
  background: #5cb7c4;
  border-radius: 30px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
#to-top::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-right: 8px solid #fff;
  border-top: 8px solid #fff;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  position: absolute;
  top: 10px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
#to-top:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  height: 200px;
  padding-top: 80px;
  background: #333;
}
footer p {
  text-align: center;
  color: #fff;
}

/*------------------------------
 modal 
------------------------------*/
.modal_btn {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  background: #5cb7c4;
  color: #333;
}
.modal_btn:hover {
  opacity: 0.8;
}

#modal-1 {
  display: none;
}

#modal-1.is-open {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden auto;
}

.modal-container {
  width: 80%;
  margin: 0 auto;
  position: absolute;
  top: 20px;
}
.modal-container .modal-container-inner {
  background-color: #fff;
  padding: 20px;
  margin: 0 auto 40px;
  width: inherit;
  border-radius: 4px;
}
.modal-container .modal-container-inner header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}
.modal-container .modal-container-inner .images {
  width: 200px;
  height: 200px;
  background: #5cb7c4;
  margin-bottom: 40px;
}
.modal-container .modal-container-inner .txt-box {
  margin-bottom: 40px;
}
.modal-container .modal-container-inner .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
}
.modal-container .modal-container-inner .wrapper .process {
  width: 300px;
  height: 200px;
  border: 1px solid #999;
}
.modal-container .modal-container-inner .wrapper .point {
  width: 300px;
  height: 200px;
  border: 1px solid #999;
}

.modal-close-btn {
  display: block;
  width: 120px;
  height: 44px;
  color: #fff;
  background: #455c63;
  margin-bottom: 40px;
}
.modal-close-btn.right-top {
  width: 44px;
  position: relative;
}
.modal-close-btn.right-top span {
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.modal-close-btn.right-top span::after {
  content: "";
  display: block;
  width: 28px;
  height: 2px;
  background: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
/*# sourceMappingURL=style.css.map */