@use "settings" as s;

//modal-thumbnail
.work-content{
width: 100%;
margin-bottom: 64px;
display: flex;
justify-content: center;
gap: 16px;
@include s.tab(){
flex-wrap: wrap;
margin-bottom: 32px;
}
@include s.sp(){
gap: 0;
}
}

.modal_btn{
width: calc((100% / 4) - 16px);
height: auto;
margin: 0 auto;
    @include s.tab(){
    width: calc((100% / 2) - 16px);
    }
    @include s.sp(){
    width: calc(100% - 32px);
    margin-bottom: 32px;
    }
    &:hover{
    opacity: 0.8;
    }
    p{
    text-align: center;
    }
}

.modal-timg{
width: 80%;
height: 80%;
margin: 0 auto 16px;
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }
}

[data-micromodal-trigger="modal-4"] .modal-timg>img{
width: 80%;
height: 100%;
object-fit: contain;
}

//modal open
[id*="modal-"]:not([id*="content"],[id*="title"]){
display: none;
}

[id*="modal-"]:not([id*="content"],[id*="title"]).is-open{
display: block;
}

.modal-overlay{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
z-index: 2;
background: rgba(0,0,0,0.5);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden auto;
padding-bottom: 20px;
}

.modal-container{
position: absolute;
top: 20px;

    h2{
    width: 90%;
    text-align: center;
    margin: 0 auto 16px;
    }

    button:hover{
    opacity: 0.8;
    }

    a{
    color: s.$col-bg;
    }
}

[id*="modal-"][id*="content"]{
max-width: 1080px;
background-color: s.$col-bg;
padding: 20px;
border-radius: 4px;
margin: 0 auto 32px;
position: relative;
@include s.sp(){
max-width: unset;
width: calc(100% - 32px);
    h2{
    font-size: 24px;
    width: 80%;
    @include s.sp(){width: 100%;padding-right: 32px;}
    }
}
}

.to-page{
display: block;
width: 160px;
height: 44px;
color: s.$col-bg;
background: s.$col-sec;
margin: 0 auto 40px;
}

.modal-close-btn{
display: block;
width: 120px;
height: 44px;
color: s.$col-bg;
background: s.$col-sec;
}

.modal-close-btn.ctr-btm{
margin: 0 auto 32px;
}

.modal-close-btn.right-top{
width: 44px;
position: absolute;
top: 8px;
right: 8px;
@include s.sp(){
top: 32px;
}
    span{
    display: block;
    width:28px;
    height: 2px;
    background: s.$col-bg;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    }

    span::after{
    content: "";
    display: block;
    width:28px;
    height: 2px;
    background: s.$col-bg;
    transform: rotate(90deg);
    }

}

.modal-desc{
padding-left: 64px;
margin-bottom: 32px;
@include s.sp(){
padding-left: 0;
}
}
.modal-flex-wrapper{
width: 90%;
display: flex;
justify-content: center;
gap: 32px;
margin: 0 auto;
@include s.tab(){
flex-direction: column;
}
}

.modal-content-box{
width: calc((100% - 32px) / 2);
border: 1px solid s.$col-brdr;
margin: 0 auto 32px;
padding: 16px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

@include s.tab(){
width: 90%;
}

@include s.sp(){
width: 100%;
margin: 0 auto 16px;
}

h3{
width: 288px;
line-height: 48px;
margin-bottom: 16px;
    @include s.sp(){
    width: 208px;
    font-size: 20px;
    }
    img{
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 16px;
    }
}

p{
margin-bottom: 16px;
}

}

.modal-content-box:nth-of-type(3){
width: unset;
border: none;
align-items: unset;
}

//.modal-content-img
.modal-content-img{
width:90%;
margin: 0 auto 32px;
    img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include s.sp(){
    object-fit: contain;
    }
    }
}
.content-img-wrapper{
display: flex;
width: 100%;
margin: 0 auto;
gap: 16px;
justify-content: space-between;
align-items: center;
@include s.tab(){
flex-direction: column;
}
.modal-content-img:nth-of-type(1){
max-width: 300px;
height: 250px;
}
.modal-content-img:nth-of-type(2){
max-width: 288px;
}
}

#modal-9{
.content-img-wrapper{
flex-direction: column;
}
.modal-content-img{
width: 480px;
img{
object-fit: contain;
}
@include s.sp(){
width: unset;
max-width: 480px;
}
}
}

#modal-10 .modal-content-img{
width: 320px;
    @include s.sp(){
    width: unset;
    }
    img{
    object-fit: contain;
    }
}

#modal-12 .modal-content-img{
width: 480px;
max-width: unset;
height: 680px;
    @include s.sp(){
    width: unset;
    height: unset;
    }
}
