$col-pri:#509993;
$col-sec:#153754;
$col-tert:#b0a596;
$col-quat:#ebded3;

$col-txt:#1b191e;
$col-bg:#fff;
$col-bgtp:rgba(255, 255, 255,0.5);
$col-brdr: #aaa;

$tab:960px;
$sp:560px;

@mixin tab {
@media (max-width:$tab) {
@content;
}
}

@mixin sp {
@media (max-width:$sp) {
@content;
}
}

h1{
font-size: 42px;
font-family: "Poiret One",cursive,"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
    @include sp(){
    font-size: 28px;
    }
}

h2{
font-size: 32px;
margin-bottom: 16px;
font-family: "Poiret One",cursive,"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
    @include sp(){
    font-size: 22px;
    }
}

h3{
font-size: 24px;
margin-bottom: 16px;
font-family: "Poiret One",cursive,"游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}

h4{
font-size: 18px;
margin-bottom: 16px;
font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
}