@use "reset";
@use "nav";
@use "modal"; 
@use "settings" as s;

//header
header{
height: 64px;
position: absolute;
top:0;
right: 0;
left: 0;
margin: auto;
z-index: 2;
width:calc(100% - 64px);
height: 64px;
padding: 0 16px;
border-bottom: 1px solid s.$col-bg;
display: flex;
justify-content: space-between;
align-items: center;
    h1{
    color: s.$col-bg;
    }
@include s.tab(){
width:100%;
}
}

//section
section{
max-width: 1280px;
height: auto;
padding: 0 16px;
margin: 0 auto 64px;
@include s.tab(){
margin: 0 auto 48px;
}

h2{
font-weight: normal;
width: 192px;
height: 80px;
line-height: 80px;
text-align: center;
margin-bottom: 32px;
border-top: 1px solid s.$col-pri;
border-bottom: 1px solid s.$col-pri;
}

h3{
font-family: "游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
font-weight: normal;
position: relative;
padding-left: 16px;
@include s.sp(){
font-size: 20px;
}

&::before{
content: "";
display: block;
width: 1px;
height: 24px;
background: s.$col-pri;
position: absolute;
top: 0;
bottom: 0;
margin: auto;
left: 8px;
}

&::after{
content: "";
display: block;
width: 1px;
height: 24px;
background: s.$col-pri;
position: absolute;
top: 0;
bottom: 0;
margin: auto;
left: 4px;
}

}

}

//about
#about{
width: 100%;
max-width: unset;
padding: 0;
height: 100vh;
background: url('../img/main.jpg') no-repeat center/cover;
position: relative;
margin-bottom: 48px;
}

#about::after{
content: "";
display: block;
width: 100%;
height: 100vh;
position: absolute;
top: 0;
left: 0;
background: rgb(21, 55, 84,0.5);
opacity: 0.5;
@include s.tab(){
background: linear-gradient(45deg,s.$col-sec 0%,s.$col-tert 40%,s.$col-pri 80%);
}
}

#about:hover{
    &::after{
    background: linear-gradient(45deg,s.$col-sec 0%,s.$col-tert 40%,s.$col-pri 80%);
    }
    .about-content{
    border: 1px solid s.$col-bg;
    transition: 0.2s;
        h2{
        transform: translateY(0);
        transition: 0.4s;
        }
        p{
        font-family: "Open Sans","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        transition: 0.4s;
        }
    }
}

.about-content{
width: 80%;
height: 80%;
position: absolute;
top: 64px;
right: 0;
bottom: 0;
left: 0;
margin: auto;
z-index: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
@include s.tab(){
border: 1px solid s.$col-bg;
}
@include s.sp(){
width: calc(100% - 32px);
height: calc(100vh - 96px);
}
    h2{
    font-size: 64px;
    color: s.$col-bg;
    padding: 0 16px;
    margin-bottom: 32px;
    transform: translateY(64px);
    @include s.tab(){
    font-size: 48px;
    transform: translateY(0);
    }
    @include s.sp(){
    font-size: 24px;
    margin-bottom: 16px;
    }
    }
    p{
    font-family: "Open Sans","游ゴシック体","Yu Gothic",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif;
    opacity: 0;
    visibility: hidden;
    width: 50%;
    padding: 0 16px;
    color: s.$col-bg;
    line-height: 1.75;
    @include s.tab(){
    width: 80%;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    }
    @include s.sp(){
    width: 100%;
    }
    }
}

//skill
.skill-content-wrapper{
max-width: 960px;
margin: 0 auto 32px;
}
.skill-content-wrapper:nth-of-type(2){
    .skill-content{
    width: 100%;
        .skill-txt{
        padding: 0 32px;
        }
    }
}
.skill-content{
width: 100%;
margin-bottom: 16px;
display: flex;
align-items: center;
justify-content: center;
    @include s.tab(){
    }
    @include s.sp(){
    flex-wrap: wrap;
    gap: 0;
    }
}
.skill-icon{
width: 64px;
height: 64px;
margin-right: 16px;
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }
}
.skill-txt{
width: 100%;
padding: 0 16px;
}

// #codepen
#codepen{
padding: 2px 8px;
border-radius: 4px;
background: s.$col-pri;
color: s.$col-bg;
font-weight: bold;
cursor: pointer;
&:hover{
text-decoration: underline 1px;
text-underline-offset: 2px;
}
}
#codepen-wrapper{
display: none;
margin-bottom: 48px;
}
#codepen-wrapper.open{
display: block;
}

//to-top btn
#to-top{
display: none;
width: 60px;
height: 60px;
background:s.$col-pri;
border-radius: 30px;
position: fixed;
right:20px;
bottom: 20px;
    &::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-right: 8px solid s.$col-bg;
    border-top: 8px solid s.$col-bg;
    transform: rotate(315deg);
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    }
    &:hover{
    opacity:0.8;
    }
}

//footer
footer{
width: 100%;
height: 208px;
background:s.$col-txt;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 16px;
    p{
    text-align: center;
    color: s.$col-bg;
    }
    a{
    font-size: 14px;
    color: s.$col-bg;
    }
    a:hover{
    text-decoration: underline 1px s.$col-bg;
    }
}
.codepen-link{
width: 64px;
height: 64px;
background: s.$col-bg;
border-radius: 32px;
overflow: hidden;
a{
text-indent: 100%;
white-space: nowrap;
img{
width: 100%;
height: 90%;
object-fit: contain;
}
}
&:hover{
opacity: 0.8;
}
}


