@use "_reset";
 
$col-pri:#509993;
$col-sec:#153754;
$col-tert:#b0a596;
$col-quat:#ebded3;
$col-txt:#1b191e;
$col-bg:#fff;
$col-brdr:#999;
$col-bsdw:#f9fdff;

$tab:959px;
$sp:767px;

@mixin tab-point {
@media (max-width:$tab) {
@content;
}
}

@mixin sp-point {
@media (max-width:$sp) {
@content;
}
}

@mixin obj-fit {
width: 100%;
height: 100%;
object-fit: cover;
}

@mixin pos-ctr {
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;    
}


body{
font-family: 'Open Sans', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1,h2,h3{
font-family: 'Poiret One', cursive, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1{
font-size: 42px;
}

h2{
font-size: 28px;
}

//header

#pagetop>header{
height: 80px;

    .header-inner{
    width:100%;
    height: 80px;
    padding: 0 20px;
    background: $col-bg;
    border-bottom: 1px solid $col-brdr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 2;
    }

}

//navigation

#g-nav{
width:50%;
display: flex;
justify-content: right;
align-items: center;

    ul{
    width: inherit;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    }

    li{
    width: 25%;
    text-align: center;
    }

    a{
    color: $col-txt;
    }

    li.current>a{
    text-decoration: underline 2px $col-pri;
    text-underline-offset: 4px;
    }

    #ls-0.current>a{
    text-decoration: none;
    }

}


#ham-btn{
display: none;
order: 2;
width: 44px;
height: 44px;
background: $col-pri;
}

//head-area

.head-area{
width: 100%;
height: 50vh;
background: $col-pri;
}


section{
width: 100%;
height: 100vh;
padding: 0 16px;
margin: 0 auto 96px;
}

//about

//work

//skill

//contact

#contact{
height: 50vh;
margin: 0 auto 96px;
}

//to-top btn

#to-top{
display: none;
width: 60px;
height: 60px;
background:$col-pri;
border-radius: 30px;
position: fixed;
right:20px;
bottom: 20px;

    &::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-right: 8px solid $col-bg;
    border-top: 8px solid $col-bg;
    transform: rotate(315deg);
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    }

    &:hover{
    opacity:0.8;
    }

}

//footer

footer{
width: 100%;
height: 200px;
padding-top: 80px;
background:$col-txt;

    p{
    text-align: center;
    color: $col-bg;
    }

}

//modal

.modal_btn{
width: 180px;
height: 40px;
margin: 0 auto;
background: $col-pri;
color: $col-txt;

    &:hover{
    opacity: 0.8;
    }

}

#modal-1{
display: none;
}

#modal-1.is-open{
display: block;
}

.modal-overlay{
position: fixed;
@include pos-ctr;
z-index: 2;
background: rgba(0,0,0,0.5);
display: flex;
justify-content: center;
align-items: center;
overflow: hidden auto;
padding-bottom: 20px;
}

.modal-container{
width: 90%;
position: absolute;
top: 20px;

    header{
    margin-bottom: 32px;
    }

    h2{
    width: 100%;
    text-align: center;
    }

    .images{
    width:100%;
    margin: 0 auto 40px;

        img{
        @include obj-fit;
        }

    }

    .txt-box{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 40px;

        dd{
        width: calc(100% - 54px);
        }

        .logo{
        width: 44px;
        height: 44px;
        }

        img{
        @include obj-fit;
        }

    }

    .wrapper{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
    }

    ul{
    padding-left: 24px;
    list-style-type: disc;
    }

    .process{
    width:300px;
    height:200px;
    border: 1px solid $col-brdr;
    }

    .point{
    width:300px;
    height:200px;
    border: 1px solid $col-brdr;
    }

    button:hover{
    opacity: 0.8;
    }

    a{
    color: $col-bg;
    }

}//.modal-container

#modal-1-content{
max-width: 1080px;
background-color: $col-bg;
padding: 20px;
border-radius: 4px;
margin: 0 auto 32px;
position: relative;
}

.to-page{
display: block;
width: 160px;
height: 44px;
color: $col-bg;
background: $col-sec;
margin: 0 auto 40px;
}

.modal-close-btn{
display: block;
width: 120px;
height: 44px;
color: $col-bg;
background: $col-sec;
}

.modal-close-btn.ctr-btm{
margin: 0 auto 40px;
}

.modal-close-btn.right-top{
width: 44px;
position: absolute;
top: 10px;
right: 10px;

    span{
    display: block;
    width:28px;
    height: 2px;
    background: $col-bg;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
    }

    span::after{
    content: "";
    display: block;
    width:28px;
    height: 2px;
    background: $col-bg;
    transform: rotate(90deg);
    }

}


