@use "reset";
@use "nav";
@use "modal"; 

$col-pri:#509993;
$col-sec:#153754;
$col-tert:#b0a596;
$col-quat:#ebded3;

$col-txt:#1b191e;
$col-bg:#fff;

$col-bgtp: rgba(255,255,255,0.5);
$col-brdr:#999;
$col-bsdw:#f9fdff;

$tab:960px;
$sp:560px;

@mixin tab {
@media (max-width:$tab) {
@content;
}
}

@mixin sp {
@media (max-width:$sp) {
@content;
}
}

@mixin obj-fit {
width: 100%;
height: 100%;
object-fit: cover;
}

body{
font-family: 'Open Sans', "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1,h2,h3{
font-family: 'Poiret One', cursive, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

h1{
font-size: 42px;
    @include sp(){
    font-size: 28px;
    }
}

h2{
font-size: 28px;
margin-bottom: 16px;
}

h3{
margin-bottom: 16px;
}

//header
header{
height: 80px;
    .header-inner{
    width:100%;
    height: 80px;
    padding: 0 20px;
    background: $col-bgtp;
    backdrop-filter: blur(2px);
    border-bottom: 1px solid $col-brdr;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 2;
        @include sp(){
        position: unset;
        }
    }
}

//head-area
.head-area{
width: 100%;
height: 50vh;
background: $col-pri;
}
//section
section{
max-width: 1280px;
height: auto;
padding: 0 16px;
margin: 0 auto 96px;
}
//about
//work
//skill
.skill-h3{
margin-bottom: 16px;
}
.skill-content-wrapper{
max-width: 960px;
margin: 0 auto 32px;
}
.skill-content-wrapper:nth-of-type(2){
    .skill-content{
    width: 100%;
        .skill-txt{
        padding: 0 32px;
        }
    }
}
.skill-content{
width: 100%;
margin-bottom: 16px;
display: flex;
align-items: center;
justify-content: center;
    @include tab(){
    }
    @include sp(){
    flex-wrap: wrap;
    gap: 0;
    }
}
.skill-icon{
width: 64px;
height: 64px;
margin-right: 16px;
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    }
}
.skill-txt{
width: 100%;
padding: 0 16px;
}

//contact
#contact{
height: 50vh;
margin: 0 auto 96px;
}

//to-top btn
#to-top{
display: none;
width: 60px;
height: 60px;
background:$col-pri;
border-radius: 30px;
position: fixed;
right:20px;
bottom: 20px;
    &::after{
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-right: 8px solid $col-bg;
    border-top: 8px solid $col-bg;
    transform: rotate(315deg);
    position: absolute;
    top: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    }
    &:hover{
    opacity:0.8;
    }
}

//footer
footer{
width: 100%;
height: 200px;
padding-top: 80px;
background:$col-txt;
    p{
    text-align: center;
    color: $col-bg;
    margin-bottom: 16px;
    }
    a{
    font-size: 14px;
    color: $col-bg;
    }
    a:hover{
    text-decoration: underline 1px $col-bg;
    }
}


