@use "settings" as s;

#message{
margin: 0 auto 32px;
padding: 0 16px;

  @include s.tab(){
  max-width: 1080px;
  margin: 32px auto 64px;
  padding: 0 32px;

    .sec-h3>br{
    display: none;
    }

    p{
    line-height: 1.75;
    }

  };

  @include s.pc(){

    p>br:nth-of-type(odd){
    display: none;
    }

  };

}//#message

#gallery{
margin: 32px auto;
padding: 0 16px;

@include s.tab(){
max-width: 1080px;
margin: 0 auto 64px;
padding: 0 32px;
}

}

.scroll-wrapper{
padding-bottom: 16px;
display: flex;
gap: 16px;
flex-wrap: nowrap;
overflow-x: auto;
scroll-snap-type: x mandatory;
scroll-padding: 16px;

  @include s.tab(){
  gap: 32px;
  padding-bottom: 32px;
  };

  @include s.pc(){
  gap: 48px 32px;
  flex-wrap: wrap;
  overflow-x: unset;
  scroll-snap-type: unset;
  scroll-padding: unset;
  };

}

.scroll-box{
margin: 0 auto;
flex: 0 0 80%;
scroll-snap-align: start;
scroll-snap-stop: always;

  .photo{
  margin-bottom: 16px;
  }

  @include s.tab(){
  display: flex;
  flex-direction: column;
  align-items: center;

    .photo{
    width: 80%;
    }

    .photo>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

  };

  @include s.pc(){
  flex: unset;
  scroll-snap-align: unset;
  scroll-snap-stop: unset;
  width: calc((100% - 32px) / 2);
  };

}